/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Inter:wght@400;600;700&family=Lora:wght@400;500&family=Raleway:wght@200;300;400&family=Sono:wght@400;600;700&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;600;700&display=swap');
/* Define your Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
