.servicedetail {
  margin: 7rem 1rem 0 1rem;
  padding: 2rem 8rem;
  font-family: sans-serif;
  /* background-color: #e5e5e5; */
}
.servicedetail-img {
  /* border: 1px solid red; */
  height: 20rem;
}
.servicedetail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.servicedetail-top h2 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.servicedetail-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0.5rem 0;
  margin-left: -1.1rem;
}
.servicedetail-top h5:not(:last-child) {
  border-right: 0.5px solid #333;
  padding: 0 1rem;
  font-size: 0.9rem;
}
.servicedetail-top h5 {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  font-weight: 400;
}
.servicedetail-top h4 {
  font-size: 2rem;
  margin-top: 8rem;
  font-weight: 400;
  color: #1e293b;
}
.servicedetail-top p {
  font-family: "Roboto-condensed";
  padding: 0.4rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #1e293b;
}

.servicedetail-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.servicedetail-bottom h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #1e293b;
  border-bottom: 0.5px solid #333;
  text-align: center;
}
.pricelist-img {
  /* border: 1px solid red; */
  margin-top: 2.5rem;
  height: 25rem;
  width: 20rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.pricelist-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.servicedetail-images {
  margin: 10rem;
  position: relative;
}
.servicedetail-images h4 {
  border: none;
}
.servicedetail-content {
  /* border: 1px solid blue; */
  margin-top: 1rem;
  height: 20rem;
  width: 80rem;
}
.gallery-images {
  display: flex;
  gap: 2px;
  position: relative;
  overflow: hidden;
  /* border: 1px solid blue; */
}
.gallery-images img {
  height: 100%; /* Adjust the height to 100% */
  width: 100%; /* Adjust the width to 100% */
  object-fit: cover; /* Change the object-fit property to cover */
  cursor: pointer;
  transition: all 0.2s;
}
.gallery-images img:hover {
  transform: scale(1.03);
}
.image-container {
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}
.show-more-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
}
.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fullScreenImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the modal height to occupy the entire viewport */
  width: 100vw;
}

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
  cursor: pointer;
  transition: all 0.2s;
}
.sliderWrap .btnClose,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
  font-size: 1.5rem;
}
.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}
.btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}
.btnClose {
  top: 40px;
  right: 40px;
}
.all-images-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 700;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-bottom: 15rem;
}
.modal-content img {
  border-radius: 10px;
  width: 15rem;
  height: 15rem;
}
.modal-close {
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
}
