.miniheader {
  margin-top: 6rem;
  background-color: #7e5e3f;
  position: fixed;
    top: 0;
    width: 100%;
  /* z-index: 100; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14rem;
  padding: 0.5rem 0;
}
.miniheader a {
  text-decoration: none;
  color: #333;
  font-family: "Ubuntu";
  font-size: 1.3rem;
}
.miniheader a.active {
  color: #fff;
}

.products-miniheader {
  background-color: #d1d5db;
  margin-top: 8.5rem ;
}
.products-miniheader ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: #4b5563;
  padding: 0.5rem 0;
  list-style: none;
  font-family: "Roboto Condensed";
}
.products-miniheader li {
  cursor: pointer;
}
.products-miniheader li:hover {
  color: black;
}
