.services {
  margin: 2rem 1rem;
  background-color: #e5e5e5;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}
.services-content{
    /* border: 1px solid green; */
    background-color: #fff;
    /* padding: 0.5rem 0.6rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
}
.services-content:hover{
    box-shadow: 0 5px 15px #737373;
}
.services-img{
    height: 14rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    
}
.services-img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.services-content-text{
    padding: 0.3rem 0.5rem;
    display: grid;
}
.services-content h3{
    font-weight: 700;
    /* border: 1px solid red; */
    height: 2.7rem;
}
.services-content h5{
    font-weight: 500;
    font-size: 0.9rem;
    color: #737373;
    height: 2.1rem;
}
.services-content h6{
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}
.services-content button{
    padding: 0.5rem 0;
    border: 1px solid #7e5e3f;
    border-radius: 3px;
    color: #7e5e3f;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 3px;
}
.services-content button:hover{
    color: #fff;
    background-color: #7e5e3f;
}

