.slides,
.slider{
    position: relative;
}
.slider-text{
    padding: 0rem 0;
    position: absolute;
    top: 0;
    background-color:  rgba(126, 94, 63, 0.3);
    border-radius: 10px;
}
.slider h1,
.slider h2{
    color: #d4d4d8;
    text-align: start;
    font-weight: 700;
    padding: 0.3rem 1rem;
}
.slider-img{
    height: 30rem;
    position: relative;
}
.slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      rgba(126, 94, 63, 0.2),
      rgba(128, 128, 0, 0.2)
    );
  }
  .indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px; /* Adjust this value to change the vertical position */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px; /* Adjust the margin between indicators */
    background-color: #ccc; /* Inactive indicator color */
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: #7e5e3f; /* Active indicator color */
  }

